*/.classpath
*.pydevproject
*/bin/*
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
*.class
*/project.properties
*/gen/*
WhatsCookingClient/gen/com/facebook/android/R.java
*/R.java
*/.classpath
facebook/gen/com/facebook/android/R.java
*.pyc
